<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.cordova.plugins.clipboard"
      version="1.0.0">
    <name>CookieMaster</name>
    <description>This plugin enables a lister to copy clipboard</description>
    <license>MIT</license>

    <keywords>cordova,phonegap,clipboard,copy,clipboard-plugin</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines> 
 
    <js-module src="www/clipBoard.js" name="clipBoard">
        <clobbers target="clipBoard" />
    </js-module>    
    
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="clipBoard">
                <param name="android-package" value="com.cordova.plugins.cookiemaster.clipBoard"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/com/cordova/plugins/cookiemaster/clipBoard.java" target-dir="src/com/cordova/plugins/cookiemaster" />      
    </platform>          
</plugin>
